body {
  /* margin-bottom: 60px; 
    margin-top: 60px; */
  /* background: #283593 !important; */
  height: 100%;
}

.header {
  /* position: absolute;
  top: 0; */
  width: 100%;
  padding: 16px;
  /* background-color: #283593; */
  border-bottom: 1px solid #ddd;
}

.container {
  /* width: auto; */
  /* max-width: 680px; */
}

.project-content {
  /* background: #283593; */
  padding: 16px;
  font-size: 20px;
  /* color: #fff; */
}

.match-parent {
  width: 100% !important
}

.landing-main-content {
  height: calc(100vh - 200px);
  overflow: auto;
}

.landing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.green {
  color: #4ad298 !important
}

.green-bg {
  background: #4ad298 !important
}

.signup-btn {
  width: 180px;
}

.width-100 {
  width: 50% !important;
}

.mt--10 {
  margin-top: -16px
}

.main-content {
  height: calc(100vh - 215px);
}

.signup-btn {
  /* background: #283593; */
  color: #fff;
  min-width: 250px;
  margin: 0 auto;
}