html, body {
    background: #f5f5f5 !important
}

a.hand {
    cursor: pointer;
}

.pt-60 {
    margin-top: 60px;
}

.loading {
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 9999;
    background: #fff;
    padding: 16px;
    box-shadow: 4px 3px 20px #ddd;
}

.loading-img {
    width: 60px;
}

@media screen and (max-width: 767px) {
    .mobile-space {
        padding-top: 150px;
    }
}

.spinner-loading {
    position: fixed;
    top: 55%;
    left: 65%;
}

.last-loading {
    position: fixed;
    top: 75%;
    left: 35%;
}