body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f5f5f5 !important;
}

.padding-16 {
  padding: 16px
}

.image-404 {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.user-drop-down {
  color: #212529 !important;
}

.table-responsive>table {
  margin-bottom: 0;
}

.text-primary-custom {
  color: #0ca678 !important;
}

thead:not(.no-custom-bg), thead:not(.no-custom-bg) th, thead:not(.no-custom-bg) td {
  background: #0ca678 !important;
  color: #fff !important;
}

.btn-primary {
  background: #0ca678 !important;
  border-color: #0ca678 !important;
}

.btn-primary:hover {
  background: #087f5b !important;
  border-color: #087f5b !important;
}

.btn-primary.create {
  background: #f59f00 !important;
  border-color: #f59f00 !important;
}

.btn-primary.create:hover {
  background: #e67700 !important;
  border-color: #e67700 !important;
}

.fs-40 {
  font-size: 40px;
}

.navbar {
  background: #f5f5f5;
}

.modal-body {
  max-height: calc(100vh - 120px);
  overflow: auto;
}

.remove-extra-field {
  position: absolute;
  right: 16px;
  font-size: 12px;
  top: 8px;
  color: #B71C1C;
  cursor: pointer;
}