.bg-dark {
    background-color: #272b30 !important;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.custom-nav-link, .custom-nav-link:hover {
    color: #ddd
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.navbar-brand {
    font-weight: 600
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #272b30;
    /*1d809f*/
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #32373d;
}
@media screen and (max-width:767px) {
    .navbar-nav,.navbar {
      display: block !important;
    }
  }