.sign-up-icon {
    width: 48px;
    height: 38px;
    /* background: #283593; */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0 0 4px;
}

.sign-up-text-field {
    border-radius: 0;
    border-radius: 0 4px 4px 0;
}

/* .register-card {
    background: #f5f5f5;
} */